body {
    padding-top: 25px;
    /* padding: 25px 155px; */
    text-align: center;
    user-select: none;
}

.plantsrow {
}

.plantsrow:hover {
    background-color: rgb(240, 238, 238);
    cursor: pointer;
}

.plantsrow:click {
    background-color: rgb(204, 201, 201)
}

#addplantmodal>input {
    margin: 55px !important;
    padding: 0 !important;
}

#plantstable {
    border-color: #dee2e6 !important;
    border: 1px solid;
    margin-bottom: 30px;
}

#plantstable>tbody>tr>td {
    vertical-align: middle;
}

#plantstable>tbody>tr>td>img {
    max-width: 250px;
}